.profile {
    margin: auto;
    background: white;
    width: 500px;
    padding: 30px;
    margin-top: 100px;
}

button {
    width: calc(100% + 60px);
    padding: 30px;
    margin: 0 0 -30px -30px;
    font-size: 20px;
    background: #2F97EF;
    color: white;
    border: 0;
    cursor: pointer;
}