.signInForm {
    margin: auto;
    background: white;
    width: 500px;
    padding: 30px;
    margin-top: 100px;
}

form > * {
    display: block;
}

legend {
    font-size: 30px;
    margin: 0 0 20px 0;
    padding: 0 0 10px 0;
    border-bottom: solid 1px #2F97EF;
}

label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    font-size: 20px;
}

label input {
    width: 60%;
    font-size: 20px;
    padding: 10px;
}

button {
    width: calc(100% + 60px);
    padding: 30px;
    margin: 0 0 -30px -30px;
    font-size: 20px;
    background: #2F97EF;
    color: white;
    border: 0;
    cursor: pointer;
}